<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./logo5-.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/style/style.css">
    <title>Detail games</title>
</head>
<body>
    <div class="header-section">
        <header>
            <nav class="navbar">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Juegos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./assets/pages/contacto.html">Ayuda</a>
                        </li>
                        <div v-if="isLoggedIn">
                            <button class="buttonSession">
                                <a href="#" @click.prevent="logout" class="logIn">INGRESAR</a>
                            </button>
                        </div>
                    </ul>
            </nav>
        </header>
    </div>
    <div class="banner-juego-sv1">
    </div>
    <main>
        <section class="fondo">
            <section class="contenedor-caratula">
                <div class="listas-requisitos">
                    <!-- Requisitos minimos y recomendados sacados de steam -->
                    <ul>
                        <li><h3>Requisitos minimos:</h3>
                            <ul>
                                <li>Requiere un procesador de 2 Ghz</li>
                                <li>SO: Windows Vista or greater</li>
                                <li>Procesador: 2 Ghz</li>
                                <li>Memoria: 2 GB de RAM</li>
                                <li>Gráficos:  256 mb video memory, shader model 3.0+</li>
                                <li>DirectX: Versión 10</li>
                                <li>Almacenamiento: 500 MB de espacio disponible</li>
                                <li>Notas adicionales: SSD no requerido</li>
                            </ul><br>
                        </li>
                    
                    </ul>
                    <ul>
                        <li><h3>Requisitos recomendados:</h3></li>
                            <ul>
                                <li>Requiere un procesador de 2 Ghz</li>
                                <li>SO: Windows Vista or greater</li>
                                <li>Procesador: 2 Ghz</li>
                                <li>Memoria: 2 GB de RAM</li>
                                <li>Gráficos:  256 mb video memory, shader model 3.0+</li>
                                <li>DirectX: Versión 10</li>
                                <li>Almacenamiento: 500 MB de espacio disponible</li>
                                <li>Notas adicionales: SSD no requerido</li>
                            </ul>
                    </ul>
                </div>
                <!-- ifrem del trailer, estan en el archivo de texto en cada carpeta de los juegos -->
                <div class="contenedor-ifrem">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ot7uXNQskhs?si=BWuAnAeNR_FNTi5L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div> 
                <div class="listas">
                    <!-- reseñas y precio también estan en el mismo documento que el ifrem -->
                    <ul>
                        <li><h3>Reseñas generales:</h3>
                            <ul>
                                <li>Extremadamente positivas</li>
                                <li>Total reseñas:703.832</li>
                                <li>Reseñas positivas:691.640</li>
                        
                            </ul>
                        </li>  <br>
                        <li><h3>Precio:</h3> $4.99 USD</li>
                    </ul>
                </div>
            </section>
            <div class="detail2">
                <!-- Detalles del juego ofrecido por los desarrolladores, lo saque de steam -->
                <h2 class="h2-detail-game">Sobre Stardew Valley</h2><br>
                <p class="d1">
                Te vas a vivir al valle... <br>
                Acabas de heredar la vieja parcela agrícola de tu abuelo de Stardew Valley. Decides partir hacia una nueva vida con unas herramientas usadas y algunas monedas. <br>
                ¿Te ves capaz de vivir de la tierra y convertir estos campos descuidados en un hogar próspero?
                </p> <br>
                <h2 class="h2-detail-game">¡Crea la granja de tus sueños!</h2> <br>
                <p class="d1"> Constrúyela desde cero en una de las cinco configuraciones del mapa.

                </p><br>
                <h2 class="h2-detail-game">¡Domina tu habilidad con la ganadería!</h2><br>
                <p class="d1">
                    Cría animales, siembra cultivos y fabrica maquinaria útil entre muchas más cosas. 
                </p><br>
                <h2 class="h2-detail-game">¡Únete a la comunidad local!</h2><br>
                <p class="d1">
                    Entabla amistad con más de 30 habitantes de Pelican Town<br>
                    Personaliza a tu granjero eligiendo entre cientos de opciones de personalización de personajes.
                    Instálate y empieza a formar una familia, Comparte tu vida en la granja con uno de los doce personajes con los que podrás tener una relación.
                    Explora grandes y misteriosas cuevas, encuentra monstruos peligrosos y tesoros valiosos.
                    Estas preparado para esta aventura?!</p> <br>
            </div>
            <div v-if="isLoggedIn">
                <button class="buttonSession">
                    <a href="../assets/pages/pagar.html" class="logIn">COMPRAR</a>
                </button>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-lista">
            <div class="footer-contactanos">
                <h3>Contactanos</h3>
                <p>Si tenes alguna consulta o si necesitas asistencia, comunicate con nosotros!.</p>
            </div>
            <div class="footer-links">
                <h3>Links</h3>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="footer-seguinos">
                <h3>Seguinos</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="loFooter">
            <img class="logoPiraatFooter" src="../images/logoPiraat-.png" alt="">
        </div>
        <div class="footer-bottom pt-5">
            <p>&copy; 2024 Tienda de juegos. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>