<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./logo5-.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/style/style.css">
    <title>Detail games</title>
</head>
<body>
    <div class="header-section">
        <header>
            <nav class="navbar">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Juegos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./assets/pages/contacto.html">Ayuda</a>
                        </li>
                        <div v-if="isLoggedIn">
                            <button class="buttonSession">
                                <a href="#" @click.prevent="logout" class="logIn">INGRESAR</a>
                            </button>
                        </div>
                    </ul>
            </nav>
        </header>
    </div>
    <main>
        <div class="banner-juego-DD">
        </div>
        <section class="fondo">
            <section class="contenedor-caratula">
            <!-- <div class="caratula"> 
                <img src="./Caratulas/BG3.png" alt="BG3" class="banner">
            </div> -->
                <div class="listas-requisitos">
                    <!-- Requisitos minimos y recomendados sacados de steam -->
                    <ul>
                        <li><h3>Requisitos minimos:</h3>
                            <ul>
                                <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                <li>SO: Windows 10 64-bit</li>
                                <li>Procesador: Intel Core i5 10600 / AMD Ryzen 5 3600</li>
                                <li>Memoria: 16 GB de RAM</li>
                                <li>Gráficos: NVIDIA GeForce GTX 1070 / AMD Radeon RX 5500 XT with 8GB VRAM</li>
                                <li>DirectX: Versión 12</li>
                                <li>Almacenamiento: 150 GB de espacio disponible</li>
                                <li>Notas adicionales: SSD no requerido</li>
                            </ul><br>
                        </li>
                    
                    </ul>
                    <ul>
                        <li><h3>Requisitos recomendados:</h3></li>
                            <ul>
                                <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                <li>SO: Windows 10 64-bit</li>
                                <li>Procesador: Intel Core i7-10700 / AMD Ryzen 5 3600X</li>
                                <li>Memoria: 16 GB de RAM</li>
                                <li>Gráficos: NVIDIA GeForce RTX 2080 / AMD Radeon RX 6700</li>
                                <li>DirectX: Versión 12</li>
                                <li>Almacenamiento: 150 GB de espacio disponible</li>
                                <li>Notas adicionales: SSD no requerido</li>
                            </ul>
                    </ul>
                </div>
                <!-- ifrem del trailer, estan en el archivo de texto en cada carpeta de los juegos -->
                <div class="contenedor-ifrem">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6SwRuaVwC8c?si=OVJ5jGUXnreXiIS7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div> 
                <div class="listas">
                    <!-- reseñas y precio también estan en el mismo documento que el ifrem -->
                    <ul>
                        <li><h3>Reseñas generales:</h3>
                            <ul>
                                <li>Variadas</li>
                                <li>Total reseñas:89.539</li>
                                <li>Reseñas positivas:53.725</li>
                        
                            </ul>
                        </li>  <br>
                        <li><h3>Precio:</h3> $69.99 USD</li>
                    </ul>
                </div>
            </section>
            <div class="detail2">
                <!-- Detalles del juego ofrecido por los desarrolladores, lo saque de steam -->
                <h2 class="h2-detail-game">Sobre Dragon's Dogma 2</h2><br>
                <p class="d1">
                ¡Parte hacia tu gran aventura, Arisen!<br>
                Dragons Dogma es un juego de rol y acción basado en historia y para un jugador que te permite elegir tu propia experiencia: desde el aspecto de tu Arisen, a tu vocación, tu grupo, cómo afrontar las diferentes situaciones y mucho más.<br>
                Ahora, en esta esperada secuela, el increíblemente detallado mundo de fantasía de Dragons Dogma 2 está aguardando a que lo explores.
                </p> <br>
                <h2 class="h2-detail-game">Un mundo magico</h2> <br>
                <p class="d1">En tu viaje, te acompañarán los peones, unos misteriosos seres de otro mundo, en una aventura tan especial que te sentirás como si otros jugadores se hubieran unido a tu misión.

                </p><br>
                <h2 class="h2-detail-game">Los graficos</h2><br>
                <p class="d1">
                    la inteligencia artificial (IA) y la última tecnología en gráficos hara que el mundo de fantasía de Dragons Dogma 2 sea verdaderamente inmersivo. 
                </p><br>
                <!-- <h2 class="h2-detail-game">Proxima generación de RPG</h2><br>
                <p class="d1">
                    En el corazón de Baldur's Gate 3 late el motor nuevo Divinity 4.0, que te ofrecerá una libertad sin precedentes para explorar, experimentar e interactuar en un mundo próspero repleto de personajes, peligros y engaños. Una grandiosa narrativa visual te acercará a los personajes más que nunca. Desde los bosques malditos por las sombras hasta las mágicas cavernas del Underdark, pasando por la propia ciudad en expansión de Puerta de Baldur... Tus acciones definirán la aventura, serán tus elecciones las que definirán tu legado. Pasarás a la historia. <br>
                    Los Reinos Olvidados son un mundo gigantesco, lleno de detalles y con una gran diversidad, en el que podrás descubrir secretos en cada rincón. La verticalidad es una parte esencial de la exploración. Ve con sigilo, lánzate al agua, empuja, trepa y salta, desde lo más profundo del Underdark hasta los resplandecientes tejados de Puerta de Baldur. Cada decisión que tomes servirá para que avance la historia, y todas ellas dejarán huella en el mundo. Define tu legado, alimenta las relaciones de amistad, gánate enemigos y resuelve los problemas a tu manera. No hay dos partidas iguales.</p> <br> -->
            <!-- <img src="../detail-games/Caratulas/Baldur's gate 3/222b44245b4468fad436a6afd36d0a34.png" alt="paisaje bg3" class="img2"> -->
                    <!-- <h4 class="separador"><b>X</b> ♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦ <b>X</b></h4> <br><br>
                <ul class="lista-detail">
                    <li>
                        <h3>Modo multijugador online hasta para cuatro jugadores</h3><br>
                        Les permite combinar sus fuerzas en combate para atacar a los enemigos a la vez, o bien dividir el grupo para cumplir sus propias misiones y deseos. Creen el plan perfecto juntos… o siembra el caos por tu cuenta cuando menos se lo esperen tus amigos. Las relaciones son complicadas; sobre todo, cuando tienes un parásito en el cerebro.<br>
                    </li>
                    <li>
                        <br><h3>Personajes con origen</h3><br>
                        7 héroes con origen únicos ofrecen una experiencia sumamente detallada y cuentan con rasgos, objetivos y puntos de vista únicos sobre el mundo. Sus historias se entrelazan con la narrativa general y tus elecciones determinarán si les espera la redención, la salvación, la dominación o algún otro de los muchos finales disponibles. Juega con un personaje con origen y disfruta de sus historias, o bien reclútalos para que luchen a tu lado.<br>
                    </li>
                    <li>
                        <br><h3>Combate por turnos evolucionado</h3><br>
                        Basado en las reglas de la 5.ª edición de D&D. Una iniciativa por equipos, ventaja y desventaja, y modificadores a las tiradas se combinan con una IA avanzada, interacciones con el entorno ampliadas y una mayor fluidez en combate que recompensa la estrategia y la previsión. Los tres ajustes de dificultad te permitirán personalizar el desafío del combate. Activa los dados trucados para ayudarte a prosperar en combate, o bien usa el modo Estratega para una experiencia más compleja.<br>
                    </li>
                    <li>
                        <br><h3>Una profundidad sin precedentes</h3><br>
                        Cuenta con 31 subrazas además de las 11 razas (humano, githyanki, semiorco, enano, elfo, drow, tiefling, mediano, semielfo, gnomo, dracónido), con 46 subclases derivadas de las 12 clases. Los más de 600 conjuros y acciones ofrecen una libertad casi ilimitada a nivel de interactividad; todo ello en un mundo creado a mano en el que se recompensa la exploración y la intervención del jugador define el viaje. Nuestro creador de personajes único cuenta con una profundidad sin precedentes a nivel de personajes, con reacciones que aseguran que, seas quien seas, dejarás un legado a tu paso hasta llegar al nivel 12. Las más de 174 horas de secuencias de video te aseguran que, independientemente de las decisiones que tomes, la experiencia cinematográfica te acompañará en tu viaje. ¡Cada partida será un viaje cinemático nuevo!<br>
                    </li>
                    <li>
                        <br><h3>Romances complejos y profundos</h3><br>
                        Con una incipiente amenaza de guerra cerniéndose sobre Puerta de Baldur y una invasión de azotamentes en el horizonte, será inevitable (aunque no necesario) forjar amistades por el camino. Lo que les pase dependerá de ti, ya que tendrás relaciones reales e intensas con la gente que conozcas en tu viaje. Cada compañero tendrá su propia brújula moral y reaccionará a las elecciones que tomes a lo largo del viaje. ¿A qué precio te aferrarás a tus ideales? ¿Permitirás que sea el amor el que determine tus acciones? Las relaciones creadas de camino a Puerta de Baldur propiciarán momentos de relajación en el campamento, pero también tendrán un gran peso en las numerosas decisiones que tomarás a lo largo de tu aventura.<br>
                    </li>
                    <li>
                        <br><h3>Personaliza tu experiencia para las transmisiones</h3><br>
                        Así, cuando estés en vivo, tu transmisión no se verá interrumpida por un oso, una palabra malsonante o la ausencia de ropa interior. Baldur's Gate 3 tiene 3 niveles diferentes de personalización para streamers. Podrán desactivar los desnudos y el contenido explícito de forma independiente (o todo junto), así como también podrán activar la integración de Twitch para interactuar directamente con su público, exactamente igual que hacemos en nuestras presentaciones de Panel From Hell. Gracias a estas opciones, podrán retransmitir Baldur's Gate 3 sin problemas, independientemente de su forma de jugar.<br>
                    </li>
                </ul> -->
            </div>
            <div v-if="isLoggedIn">
                <button class="buttonSession">
                    <a href="../assets/pages/pagar.html" class="logIn">COMPRAR</a>
                </button>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-lista">
            <div class="footer-contactanos">
                <h3>Contactanos</h3>
                <p>Si tenes alguna consulta o si necesitas asistencia, comunicate con nosotros!.</p>
            </div>
            <div class="footer-links">
                <h3>Links</h3>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="footer-seguinos">
                <h3>Seguinos</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="loFooter">
            <img class="logoPiraatFooter" src="../images/logoPiraat-.png" alt="">
        </div>
        <div class="footer-bottom pt-5">
            <p>&copy; 2024 Tienda de juegos. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>