<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./logo5-.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/style/style.css">
    <title>Detail games</title>
</head>
<body>
    <div class="header-section">
        <header>
            <nav class="navbar">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Juegos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./assets/pages/contacto.html">Ayuda</a>
                        </li>
                        <div v-if="isLoggedIn">
                            <button class="buttonSession">
                                <a href="#" @click.prevent="logout" class="logIn">INGRESAR</a>
                            </button>
                        </div>
                    </ul>
            </nav>
        </header>
    </div>
    <div class="banner-juego-COD">
    </div>
    <main>
        <section class="fondo">
            <section class="contenedor-caratula">
                <div class="listas-requisitos">
                    <!-- Requisitos minimos y recomendados-->
                    <ul>
                        <li><h3>Requisitos minimos:</h3>
                            <ul>
                                <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                <li>SO: Windows® 10 64 Bit (última actualización) </li>
                                <li>Procesador: Intel® Core™ i5-6600 o AMD Ryzen™ 5 1400 </li>
                                <li>Memoria: 8 GB de RAM</li>
                                <li>Gráficos: NVIDIA® GeForce® GTX 960 / GTX 1650 o AMD Radeon™ RX 470 </li>
                                <li>DirectX: Versión 12</li>
                                <li>Red: Conexión de banda ancha a Internet</li>
                                <li>Notas adicionales: SSD con 149 GB de espacio disponible en el lanzamineto (78 GB si COD HQ o Call of Duty®: Warzone™ ya están instalados)</li>
                            </ul><br>
                        </li>
                    
                    </ul>
                    <ul>
                        <li><h3>Requisitos recomendados:</h3></li>
                            <ul>
                                <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                <li>SO:  Windows® 10 64 Bit (última actualización) o Windows® 11 64 Bit (última actualización) </li>
                                <li>Procesador:  Intel® Core™ i7-6700K o AMD Ryzen™ 5 1600X </li>
                                <li>Memoria: 16 GB de RAM</li>
                                <li>Gráficos:  NVIDIA® GeForce® GTX 1080Ti / RTX 3060 o AMD Radeon™ RX 6600XT o Intel® Arc™ A770 </li>
                                <li>DirectX: Versión 12</li>
                                <li>Red: Conexión de banda ancha a Internet</li>
                                <li>Notas adicionales: SSD con 149 GB de espacio disponible en el lanzamineto (78 GB si COD HQ o Call of Duty®: Warzone™ ya están instalados)</li>
                            </ul>
                    </ul>
                </div>
                <!-- ifrem del trailer, estan en el archivo de texto en cada carpeta de los juegos -->
                <div class="contenedor-ifrem">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/i3IsLrPeZG8?si=GUESYroTJvIbY5ZN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div> 
                <div class="listas">
                    <!-- reseñas y precio también estan en el mismo documento que el ifrem -->
                    <ul>
                        <li><h3>Reseñas generales:</h3>
                            <ul>
                                <li>Mayormente negativas</li>
                                <li>Total reseñas: 9429</li>
                                <li>Reseñas positivas:3035</li></li>
                        
                            </ul>
                        </li>  <br>
                        <li><h3>Precio:</h3> $69.99 USD</li>
                    </ul>
                </div>
            </section>
            <div class="detail2">
                <!-- Detalles del juego ofrecido por los desarrolladores -->
                <h2 class="h2-detail-game">Sobre Call of Duty: Modern Warfare III</h2><br>
                <p class="d1">
                    En la continuación directa del exitoso Call of Duty®: Modern Warfare® II, el capitán Price y la Fuerza operativa 141 enfrentan a la amenaza definitiva. Vladimir Makarov, el criminal de guerra ultranacionalista extiende su dominio por todo el mundo, lo cual motiva a la Fuerza operativa 141 a luchar como nunca antes. <br>
                </p> <br>
                <h2 class="h2-detail-game">Es hora de ajustar antiguas cuentas y crear algunas nuevas</h2> <br>
                <p class="d1">Modern Warfare® III celebra el 20 aniversario de Call of Duty® con una de las colecciones de mapas Multijugador más grandes, que incluyen mapas nuevos y favoritos de los fans. Los 16 mapas originales de Modern Warfare® 2 (2009) se modernizaron para nuevos modos y funciones y, estarán disponibles en el lanzamiento, mientras que más de 12 mapas nuevos principales 6c6 serán parte del contenido posterior al lanzamiento.

                </p><br>
                <h2 class="h2-detail-game">Un nuevo mundo abierto de zombies</h2><br>
                <p class="d1">
                    Por primera vez, únete a otros pelotones para sobrevivir y luchar contra las enormes hordas de zombis en el mapa Zombis más grande de Call of Duty® hasta el momento. Modern Warfare® Zombis (MWZ) cuenta la nueva historia creada por Treyarch con misiones, funciones principales de Zombis y secretos por descubrir.
                </p><br>
                <h2 class="h2-detail-game">Descripción de contenido para adultos</h2><br>
                <p class="d1">
                    Los desarrolladores describen su contenido así: Este juego puede incluir contenido no apto para todas las edades o para verlo en el trabajo: Violencia frecuente o gore, Contenido general para adultos
                </p>
                <div v-if="isLoggedIn">
                    <button class="buttonSession">
                        <a href="../assets/pages/pagar.html" class="logIn">COMPRAR</a>
                    </button>
                </div>
                </main>
    <footer class="footer">
        <div class="footer-lista">
            <div class="footer-contactanos">
                <h3>Contactanos</h3>
                <p>Si tenes alguna consulta o si necesitas asistencia, comunicate con nosotros!.</p>
            </div>
            <div class="footer-links">
                <h3>Links</h3>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="footer-seguinos">
                <h3>Seguinos</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="loFooter">
            <img class="logoPiraatFooter" src="../images/logoPiraat-.png" alt="">
        </div>
        <div class="footer-bottom pt-5">
            <p>&copy; 2024 Tienda de juegos. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>