<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./logo5-.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style/style.css">
        <title>Detail games</title>
</head>
<body>
    <div class="header-section">
        <header>
            <nav class="navbar">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Proyecto final/index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="../juegos.html" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Juegos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contacto.html">Ayuda</a>
                        </li>
                        <div v-if="isLoggedIn">
                            <button class="buttonSession">
                                <a href="../login.html" @click.prevent="logout" class="logIn">INGRESAR</a>
                            </button>
                        </div>
                    </ul>
            </nav>
        </header>
    </div>
    <div class="banner-juegos-cp">
    </div>
    <main>
        <section class="fondo">
            <section class="contenedor-caratula">
                <div class="listas-requisitos">
                    <ul>
                        <li><h3>Requisitos minimos:</h3>
                            <ul>
                                <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                <li>SO: Windows 10 64-bit</li>
                                <li>Procesador: Core i7-6700 or Ryzen 5 1600</li>
                                <li>Memoria: 12 GB de RAM</li>
                                <li>Gráficos: GeForce GTX 1060 6GB or Radeon RX 580 8GB or Arc A380</li>
                                <li>DirectX: Versión 12</li>
                                <li>Almacenamiento: 70 GB de espacio disponible</li>
                                <li>Notas adicionales: SSD requerido</li>
                            </ul><br>
                        </li>
                    
                    </ul>
                    <ul>
                        <li><h3>Requisitos recomendados:</h3></li>
                            <ul>
                                <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                <li>SO: Windows 10 64-bit</li>
                                <li>Procesador: Core i7-12700 or Ryzen 7 7800X3D</li>
                                <li>Memoria: 16 GB de RAM</li>
                                <li>Gráficos: GeForce RTX 2060 SUPER or Radeon RX 5700 XT or Arc A770</li>
                                <li>DirectX: Versión 12</li>
                                <li>Almacenamiento: 70 GB de espacio disponible</li>
                                <li>Notas adicionales: SSD requerido</li>
                            </ul>
                    </ul>
                </div>
                <div class="contenedor-ifrem">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xXFTRHvMtlY?si=FsQA9Cn0_BrHy3rt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div> 
                <div class="listas">
                    <ul>
                        <li><h3>Reseñas generales:</h3>
                            <ul>
                                <li>Muy positivas</li>
                                <li>Total reseñas:651.173</li>
                                <li>Reseñas positivas:605.336</li>
                        
                            </ul>
                        </li>  <br>
                        <li><h3>Precio:</h3> $44.99 USD</li>
                    </ul>
                </div>
            </section>
            <div class="detail2">
                <h2 class="h2-detail-game">Cyberpunk 2077</h2><br>
                <p class="d1">
                    Cyberpunk 2077 es un RPG de aventura y acción de mundo abierto ambientado en la megalópolis de Night City, donde te pondrás en la piel de un mercenario o una mercenaria ciberpunk y vivirás su lucha a vida o muerte por la supervivencia. <br>
                    Mejorado y con contenido nuevo adicional gratuito. Personaliza tu personaje y tu estilo de juego a medida que aceptas trabajos, te labras una reputación y desbloqueas mejoras.<br>
                    Las relaciones que forjes y las decisiones que tomes darán forma al mundo que te rodea. Aquí nacen las leyendas. ¿Cuál será la tuya?
                </p> <br>
                <h2 class="h2-detail-game">SUMÉRGETE DE LLENO CON LA ACTUALIZACIÓN 2.1</h2> <br>
                <p class="d1">Night City parece más viva que nunca gracias a la actualización gratuita 2.1! Viaja con una red de metro de la NCART totalmente funcional, escucha música mientras exploras la ciudad con tu Radioport, queda con los churris en el apartamento de V, compite en carreras rejugables, conduce nuevos vehículos, disfruta de las mejoras en el manejo y el combate en moto, descubre secretos ocultos y mucho mucho más.

                </p><br>
                <h2 class="h2-detail-game">CREA TU PROPIO CIBERPUNK</h2><br>
                <p class="d1">
                    Conviértete en un forajido urbano equipado con las últimas mejoras cibernéticas y escribe tu leyenda en las calles de Night City.
                </p><br>
                <h2 class="h2-detail-game">Proxima generación de RPG</h2><br>
                <p class="d1">
                    Night City está repleta de cosas por hacer, lugares que visitar y gente que conocer. Y tú decides dónde ir, cuándo ir y cómo llegar allí.<br>
                    Emprende audaces aventuras y forja relaciones personales con personajes inolvidables cuyos destinos se decidirán a partir de las decisiones que tomes.
                    Vive la experiencia de Cyberpunk 2077 con un montón de cambios y mejoras en el sistema de juego, la economía, la ciudad, el uso del mapa y mucho más.</p> <br>
            </div>
            <div v-if="isLoggedIn">
                <button class="buttonSession">
                    <a href="../pagar.html" class="logIn">COMPRAR</a>
                </button>
            </div>
        </section> 
    </main>
    <footer class="footer">
        <div class="footer-lista">
            <div class="footer-contactanos">
                <h3>Contactanos</h3>
                <p>Si tenes alguna consulta o si necesitas asistencia, comunicate con nosotros!.</p>
            </div>
            <div class="footer-links">
                <h3>Links</h3>
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="../juegos.html">Productos</a></li>
                    <li><a href="../contacto.html">Ayuda</a></li>
                </ul>
            </div>
            <div class="footer-seguinos">
                <h3>Seguinos</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="loFooter">
            <img class="logoPiraatFooter" src="./assets/images/logoPiraat-.png" alt="">
        </div>
        <div class="footer-bottom pt-5">
            <p>&copy; 2024 Tienda de juegos. Todos los derechos reservados.</p>
        </div>
    </footer>   
</body>
</html>